@font-face {
    font-family: 'Konstant Grotesk';
    src: url(/assets/fonts/Syne-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Le Murmure';
    src: url(/assets/fonts/Le_Murmure-Regular_web.ttf);
}

:root {
    --bg-color: hsl(0, 0%, 85%);
    --fg-color: hsl(0, 0%, 80%);
    --text-color: hsl(180, 33%, 10%);
    --primary: hsl(0, 0%, 53%);
    --accent: #950415;
    --muted: hsl(0, 0%, 42%);
    --accent-secondary: hsl(216, 100%, 17%);
    color: var(--text-color);
    font-size: 18px;
}



::selection {
    background: var(--accent);
    color: var(--bg-color);
}
html{
    margin: 0;
    padding: 0;
}
body {
    background: var(--bg-color);
    font-family: 'Konstant Grotesk', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    top: 0;
    z-index: 6;
}

nav {
    display: flex;
    height: 2.5em;
    margin: .25em;
    justify-content: space-between;
    position: sticky;
    margin-bottom: 4px;
    
}


nav>div {
    display: flex;
    align-items: flex-end;
}

nav>div>a {
    font-size: 1.25em;
    margin: .25em;
}

a {
    text-decoration: none;
    color: var(--muted);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Le Murmure', 'Konstant Grotesk', sans-serif;
    font-size-adjust: 1;
}

button,
input[type="submit"],
.btn {
    cursor: pointer;
    background: linear-gradient(30deg, var(--accent) 25%, hsl(352, 100%, 23%));
    font-family: 'Konstant Grotesk', sans-serif;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    padding: 12px;
}

:is(.btn,button).secondary{
    border: 2px solid var(--accent);
    color: var(--accent);
    background: none;
}

textarea, input{
    font-family: 'Konstant Grotesk', sans-serif;
}
.colored {
    color: var(--accent);
}

@supports (background-clip: text) or (-webkit-background-clip: text) {
    .colored {
        background: linear-gradient(60deg, var(--accent) 0%, var(--accent-secondary));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

a:not(.btn):hover {
    /* text-decoration: underline var(--accent) 2px; */
    color: var(--accent);
}

input:focus,
textarea:focus {
    outline: none;
}

.muted{
    color: var(--muted);
}
form{
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 24px;
}
form .form-row {
    display: flex;
    justify-content: center;
}

form .form-row .input-data {
    height: 2.5em;
    margin: 0 20px;
    position: relative;
    flex-grow: 1;
}

form .form-row .textarea {
    height: 7em;
}

.input-data input:not([type="submit"]),
.textarea textarea {
    background: none;
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 18px;
    border-bottom: 2px solid var(--fg-color);
    padding-left: 8px;
}

.input-data input:focus,
.textarea textarea:focus {
    border-bottom: none;
}
.input-data input:valid,
.textarea textarea:valid {
    border-color: var(--accent);
}
.input-data input:focus~label,
.textarea textarea:focus~label,
.input-data input:valid~label,
.textarea textarea:valid~label {
    transform: translateY(-20px);
    font-size: .9em;
    background-color: var(--bg-color);
}

.textarea textarea {
    resize: none;
    padding-top: 18px;
    height: 90%;
}

.input-data label {
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.textarea label {
    bottom: 70%;
}

.input-data .underline {
    position: absolute;
    bottom: 0;
    height: 100%;
    pointer-events: none;
    width: 100%;
}

.input-data .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: transparent;
    outline: 2px var(--accent) solid;
    border-radius: 8px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.input-data input:focus~.underline:before,
.textarea textarea:focus~.underline:before {
    transform: scale(1);
}
form input[type="submit"]{
    width: 60%;
    align-self: center;
}

@media (max-width: 700px) {
    .container form .form-row {
        flex-direction: column;
        gap: 16px;
    }
}